# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyD4pNe7Fgcltc79aSLN3v7_LJOx-gW55zg
VITE_FIREBASE_AUTH_DOMAIN=app-sisi-180377.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=app-sisi-180377
VITE_FIREBASE_STORAGE_BUCKET=app-sisi-180377.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=749373330137
VITE_FIREBASE_APP_ID=1:749373330137:web:c5c5dce16c0dc1c3f564c8

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dbxkfyyyu
VITE_CLOUDINARY_UPLOAD_PRESET_LOGO=studiosi
VITE_CLOUDINARY_UPLOAD_PRESET_CLIENTE=clienteSi
